.navbar-brand{
	margin-right: 1500px;
}



footer {
	width: 100%;
    height: auto;
    background: black;
    margin: 0,auto;
    text-align: center;
    padding-top: 25px; 

}
footer a{
    color: white;
    font-size: 15px;
    margin-left: 20px;

}
footer nav a:hover{
    border-bottom: 1px solid white;
}
.social img{
    margin-left: 10px;
    margin-bottom: 10px;
}
footer p{
    color: white;
}

 



